img {
  height: 200px;
  width: 300px;
}

body {
  background-color: #ccf2ff;
}

h1 {
  font-family: Courier;
  font-weight: bold;
  font-size: 32px;
}

liCountryName {
  font-family: Courier;
  font-size: 22px;
  font-weight: bold;
}

ul {
  width: 300px;
}

#country-map {
  width: 400px;
  height: 400px;
  float: right;
  margin-top: -350px;
  margin-right: 450px;
}